name: Node.js CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - id: files
        uses: jitterbit/get-changed-files@v1
        with:
          format: json
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: npm ci
      - name: Thundra Foresight JS Instrumentation
        uses: thundra-io/thundra-foresight-js-action@v1
        if: ${{ contains(join(steps.files.outputs.all), 'src/')}}
        with:
          apikey: ${{ secrets.THUNDRA_APIKEY }}
          project_id: ${{ secrets.THUNDRA_PROJECT_ID }}
      - name: Run TIA tests
        run: "npm run test:tia -- '${{ steps.files.outputs.all }}'"
        if: ${{ contains(join(steps.files.outputs.all), 'src/')}}
